@page
@model PrivacyModel
@{
    ViewData["Title"] = "Guidelines";
}
<h1>@ViewData["Title"]</h1>

<p>
    Here at PollerBears, we want to encourage our users to ask a wide varitey of questions.
    Whether it's a deep thought provoking question or something silly and just-for-fun, it is important to maintain
    a respectful approach to our opinions as well as our peers.
</p>

<h1>We Do Not Allow</h1>

<ul>
    <li>Any harassment or hateful conduct, including discrimination, hate speech, bullying, or targeted attacks</li>

    <li>Sexual content or nudity</li>

    <li>Harming others or acting maliciously</li>

    <li>Copyright or intellectual property violations</li>

    <li>Any violent conduct: extreme violence, graphic violence, threats, gore, obscenities</li>

</ul>

    <p>
        Failure to aheed to these guidelines will result in removal of your poll and deletion of your account.
    </p>




