@page
@model PollsPageModel
@{
    ViewData["Title"] = "Polls Page";
}
<h1>@ViewData["Title"]</h1>

<p>This page will display all active polls created by our users.</p>

<a class="btn btn-info" asp-page="/Poll/Create"> <i class="fa fa-plus"></i> Create Poll</a>
<a asp-page="/PollsPages/GuidelinePage" class="btn btn-info">Guidelines</a>

