@page

@using ContosoCrafts.WebSite.Models

@using ContosoCrafts.WebSite.Services

@inject JsonFileUserService UserService

@model ContosoCrafts.WebSite.Pages.RegisterModel
@*@model RegisterModel*@

@{

    ViewData["Title"] = "Register";

}

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <form id='registrationForm' method="post" asp-page="Register">

                                @*@Html.HiddenFor(x => x.User.userID)*@

                                <div class="form-group">

                                    <label asp-for="BindUser.Username">Username</label>

                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.BindUser.Username, new { htmlAttributes = new { id = "username", @class = "form-control", placeholder = "Username" } })
                                    </div>

                                    <span id="usernameError" asp-validation-for="BindUser.Username" class="text-danger"></span>
                                </div>

                                <div class="form-group">

                                    <label asp-for="BindUser.Email">Email</label>

                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.BindUser.Email, new { htmlAttributes = new { id = "email", @class = "form-control", placeholder = "Email" } })
                                    </div>

                                    <span id="emailError" asp-validation-for="BindUser.Email" class="text-danger"></span>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>

                                <div class="form-group">

                                    <label asp-for="BindUser.Password">Password</label>

                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.BindUser.Password, new { htmlAttributes = new { type = "password", id = "password", @class = "form-control", placeholder = "Password" } })
                                    </div>

                                    <span id="passwordError" asp-validation-for="BindUser.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input id="confirmPassword" for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                                    <span id="confirmPasswordError" class="text-danger"></span>
                                </div>

                                <div class="form-group">

                                    <label asp-for="BindUser.Location">Location</label>

                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.BindUser.Location, new { htmlAttributes = new { id = "location", @class = "form-control", placeholder = "Location" } })
                                    </div>

                                    <span id="locationError" asp-validation-for="BindUser.Location" class="text-danger"></span>
                                </div>

                                <button id="submitRegistration" type="submit" value="save" class="btn btn-primary">Register</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {

        //Empty all default values in fields on start Page and disable button
        $("#username, #email, #password, #confirmPassword, #location").val('');

        $('#submitRegistration').prop('disabled', true);

        $("#username, #password, #email, #confirmPassword, #location").on('change keyup keypress keypress blur', function (e) {

            var noEmpty = false

            var passMatch = false

            var noError = false

            $('#submitRegistration').prop('disabled', true);

            $('#confirmPasswordError').html('* Passwords do not match');

            //check if there are any empty fields existing enable button, otherwise disable button
            if ($('#username').val() != '' && $('#email').val() != '' && $('#password').val() != '' && $('#confirmPassword').val() != '' && $('#location').val() != '') {

                //all fields not empty
                noEmpty = true
           }


            //Check if confirm password == password, if not, disable button
            if (($("#confirmPassword").val() == $("#password").val())) {

                //passwords do match
                passMatch = true

                $('#confirmPasswordError').html('');
           }

            // if both password and confirm password are empty, do not show error yet
            if ($("#confirmPassword").val() == '' && $('#password').val() == '') {
                //password fields still empty
                $('#confirmPasswordError').html('');
            }

            //check if there are any errors existing enable button, otherwise disable button
            if ($('#usernameError').html() == '' && $('#emailError').html() == '' && $('#passwordError').html() == '' && $('#confirmPasswordError').html() == '' && $('#locationError').html() == '') {

                //No errors in all fields
                noError = true
            }

            //check if the button should ultimately be enabled or disabled
            if (noEmpty == true && passMatch == true && noError == true) {

                //all fields are error free
                $('#submitRegistration').prop('disabled', false);

            }
        });
    });

</script>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}