@page
@model AboutUsModel

@{
    ViewData["Title"] = "About US";
}

<div class="container">

    <div class="row">
        <div class="col-12">
            <h3>@ViewData["Title"]</h3>
            <hr />
        </div>
        <div class="col-12">
            <h4>Who We Are</h4>
            <p>
                World Wide Polling, WWP, began in 2021 in Seattle WA
                to serve as a platform for entites to create and manage polls,
                with vast engagement from millions of world wide poll takers.
            </p>
            <p>
                Since then over 200 million people have used our platform for polls ranging from different types of organization spaning from the News Media,
                Schools, Individuals, Charities and Governments to name a few.
            </p>
            <hr />
            <h4>Our Mission</h4>
            <p>
                Our Mission at WWP, have always be constant and that is to offer accessiblity throughout our platforms to allow for you, PollTaker or Pollsters, to receive
                detailed analysis of polls engageed with through visual graphics of the choices made.
            </p>
            <hr />
            <h4>Meet The Team</h4>
            <hr />

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Edwin K</h5>
                                <p class="card-text">Software Engineer joined 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Manasa A</h5>
                                <p class="card-text">Software Engineer joined 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Jason X</h5>
                                <p class="card-text">Software Engineer joined 2021</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Mustafa A</h5>
                                <p class="card-text">Software Engineer joined 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
