@page
@model ContosoCrafts.WebSite.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
      <div class=" col">
        
      </div>
    </div>
</div>

<br />

<script src="_framework/blazor.server.js"></script>
