@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<center>
    <button class="nav-item">
        <a class="btn-block" asp-page="/PollsPages/PollsPage"> Go to Polls </a>
    </button>
</center>

<br />
<script src="_framework/blazor.server.js"></script>
