@page
@using ContosoCrafts.WebSite.Models
@model ContosoCrafts.WebSite.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-12">

                <div class="container">
                    <div class="row">

                        @{
                            foreach (PollModel poll in Model.Polls)
                            {
                                <div class="col-6">
                                    <div class="card text-white bg-dark mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title"> @poll.Title</h5>
                                            <h3 class="card-subtitle">  @poll.Description </h3>

                                            @foreach (OpinionItem item in poll.OpinionItems.ToList())
                                            {
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                                            <label>@item.OpinionName</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <label>Votes: @item.NumCounts</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <hr />
                                            <a class="btn btn-primary">Submit Vote</a>
                                        </div>

                                    </div>
                                </div>

                            }
                        }

                    </div>
                </div>
            }

        </div>
    </div>
</div>

<br />

<script src="_framework/blazor.server.js"></script>
