@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body style="background-image: url('../images/privacy_background.jpeg'); background-color: #343a40; background-blend-mode: overlay;">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h3>@ViewData["Title"]</h3>
                <hr />
            </div>
            <div class="col-12">
                <h4>What Information Do We Collect?</h4>
                <p>
                    We collect personal information that you voluntarily provide to us when you register on our website.
                    The personal information that we collect depends on the context of your interactions with us
                    and this website.

                    Your information will not be shared with anyone outside of the members of our team.
                </p>
                <p>
                    We may use cookies and similar tracking technologies to access or store information.
                    You can refuse certain cookies in your web browser settings but this may effect your experience with our website.
                </p>
                <hr />
                <h4>How Can You Review, Update, Or Delete the Data We Collect From You?</h4>
                <p>
                    We only store your personal information as long as you have an account with us. Once you have deleted your account
                    all information associated will also be deleted. You can do this at any time.
                </p>
                <hr />
                <h4> Please direct all other inquieries to our team members</h4>
            </div>
        </div>
    </div>
</body>
