@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService UserService
@model ContosoCrafts.WebSite.Pages.RegisterModel
@*@model RegisterModel*@

@{
    ViewData["Title"] = "Register";
}

<div class="container">

    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @Html.HiddenFor(x => x.User.userID)

                                <div class="form-group">
                                    <label asp-for="User.username">Username</label>
                                    <input asp-for="User.username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username">
                                    <span asp-validation-for="User.username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.email">Email</label>
                                    <input asp-for="User.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                    <span asp-validation-for="User.email" class="text-danger"></span>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label asp-for="User.password">Password</label>
                                    <input asp-for="User.password" type="password" class="form-control" id="password" placeholder="Enter Password">
                                    <span asp-validation-for="User.password" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input id="confirmPassword" onchange="confirmPassword();" for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                                    <span class="text-danger"></span>
                                </div>*@
                                <div class="form-group">
                                    <label asp-for="User.location">Location</label>
                                    <input asp-for="User.location" type="text" class="form-control" id="location" placeholder="Enter your country">
                                    <span asp-validation-for="User.location" class="text-danger"></span>
                                </div>
                                <button type="submit" value="save" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


@*    function confirmPassword() {
        alert('hey')
        var password = document.getElementById('confirmPassword').value;
        alert(password)

    }
*@
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}