@page
@using ContosoCrafts.WebSite.Component.DisplayUserList
@model ContosoCrafts.WebSite.Pages.UsersPageModel

@{
    ViewData["Title"] = "User Page";
}

@{
    <body style="background-image: url('../images/mt_rainer_background.jpeg'); background-color: #343a40; background-blend-mode: overlay;">
        @(await Html.RenderComponentAsync<UserInfoTable>(RenderMode.ServerPrerendered))
    </body>
}