@page
@using ContosoCrafts.WebSite.Models
@model ContosoCrafts.WebSite.Pages.UsersPageModel


@{
    
        <hr />
        <br />
        <h3> Other Users </h3>
        <div class="row">

            <div class="col-auto">

                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col" style="color: #ffffff">User Name</th>
                            <th scope="col" style="color: #ffffff">Email</th>
                            <th scope="col" style="color: #ffffff">Location</th>
                        </tr>
                    </thead>
                    <tbody style="color: #ffffff">

                        @{
                            foreach (UserModel people in Model.Users)
                            {
                                <tr>
                                    <th> @people.username </th>
                                    <th> @people.email </th>
                                    <th> @people.location </th>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

        </div>

        <br />

}
