@page
@using ContosoCrafts.WebSite.Models
@model ContosoCrafts.WebSite.Pages.UsersPageModel

@{
    <body style="background-image: url('../images/mt_rainer_background.jpeg'); background-color: #343a40; background-blend-mode: overlay;">


        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h3> Other Users </h3>
                    <div class="row">

                        <div class="col-auto">

                            <table class="table">

                                <thead>
                                    <tr>
                                        <th scope="col" style="color: #ffffff">User Name</th>
                                        <th scope="col" style="color: #ffffff">Email</th>
                                        <th scope="col" style="color: #ffffff">Location</th>
                                    </tr>
                                </thead>

                                <tbody style="color: #ffffff">

                                    @{
                                        foreach (UserModel people in Model.Users)
                                        {
                                            <tr>
                                                <th> @people.Username </th>
                                                <th> @people.Email </th>
                                                <th> @people.Location </th>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </body>
}