@page 

@model ContosoCrafts.WebSite.Pages.LoginPageModel

@{
    ViewData["Title"] = "Login";
}


<head>

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>

</head>

<body>

    
    <div class=" container">

        <h3>Login Form</h3>

        @Model.Msg

        <form method="post" asp-page="login">

            <table>

                <tr>
                    @* take user's username and password' *@

                    <td>Username</td>

                    <td><input type="text" placeholder="Enter Username" asp-for="UserInput_test.Username" /></td> @* take user's username' *@

                </tr>

                <tr>

                    <td>Password</td>

                    <td><input type="password" placeholder="Enter Password" asp-for="UserInput_test.Password" /></td> @* take user's password' *@

                </tr>

                <tr>

                    <td>&nbsp;</td>

                    <td><input type="submit" value="Click Here to Login" /></td> @* button to log in' *@

                </tr>

            </table>

        </form>

    </div>


</body>
