@page


@model ContosoCrafts.WebSite.Pages.Login_WelcomeModel

@{
    ViewData["Title"] = "Login_Welcome";
}



<div class="container">

    <h3 class="clearfix"> Choose Wisely </h3>
    <hr />
    <div class="row">
        <div class="col">

            @* direct to login page*@
            <a asp-page="/PollsPages/IndexPollsPage"class="btn btn-outline-success">Go To Polls Page</a>

        </div>

        <div class="col">

            @* direct to user profile page*@
            <a asp-page="/UserPages/ProfilePage" class="btn btn-outline-success"> Go to Profile </a>

        </div>
    </div>
</div>
