@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services;
@inject JsonFileUserService UserService


@{
    var i = 1;
    foreach (UserModel user in UserService.GetUsers())
    {
        <tr>
            <td id="rowId">@i</td>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>@user.Location</td>
        </tr>
        i++;
    }
}
@code {}
