@page 
@model ContosoCrafts.WebSite.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>

<body>

    <h3>Login Form</h3>
    <div class=" container">
    @Model.Msg
    <form method="post" asp-page="login">
        <table>
            <tr>
                @* take user's username and password' *@
                <td>Username</td>
                <td><input type="text" placeholder="Enter Username" asp-for="UserInput_test.username" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" placeholder="Enter Username" asp-for="UserInput_test.password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Click Here to Login" /></td>
            </tr>
        </table>
    </form>
    </div>


</body>
