
.checked {
    color: orange;
}

.fa-star {
  cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Trirong', sans-serif;
    background: #b9dbdf;
}

.card-columns .card-img {
  height: 330px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: .8;
}

.modal .card-img {
  height: 500px;
  vertical-align: bottom;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}
.card-footer {
    background: #e5e5e5;
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Audiowide';
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
    color: #189AB4;
}

.btn-primary {
    color: #fff;
    background-color: #189AB4;
    border-color: #189AB4;
}
.btn-primary:hover {
    color: #fff;
    background-color: #189AB4;
    border-color: #189AB4;
}
.btn-outline-primary {
    color: #2b2b2b;
    border-color: #2b2b2b;
}
    .btn-outline-primary:hover {
        color: #189AB4;
        border-color: #189AB4;
        background-color:rgb(240 248 255 / 0.00)
    }
    .btn-outline-primary:active {
        color: #189AB4;
        border-color: #189AB4;
        background-color: rgb(240 248 255 / 0.00)
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

hr {
    border-top: 1px solid white;
}
h5{
    color:#fff !important;
}

h3 {
    color: #fff !important;
}

body {
   
    padding-bottom: 20px;
    background-image: url('../images/background_Picture1.jpg');
    background-color: #272b35;
    background-blend-mode: overlay;
    color: #fff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* Margin bottom by auto height */
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
h5 {
    font-family: 'Roboto', sans-serif;
    color: #2b2b2b
}
h1, h2, h3, h4, h6 {
    font-family: 'Roboto', sans-serif;
    color: #b9dbdf
}
ul {
    font-family: 'Roboto', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Roboto', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #b9dbdf 60%, #189AB4 60%);
    background: -o-linear-gradient(110deg, #b9dbdf 60%, #189AB4 60%);
    background: -moz-linear-gradient(110deg, #b9dbdf 60%, #189AB4 60%);
    /* change gradient of header*/
    background: linear-gradient(110deg, #b9dbdf 75%, #189AB4 60%);
}
.bg-footer {
    background: -webkit-linear-gradient(110deg, #b9dbdf 60%, #189AB4 60%);
    background: -o-linear-gradient(110deg, #b9dbdf 60%, #189AB4 60%);
    background: -moz-linear-gradient(110deg, #b9dbdf 60%, #189AB4 60%);
    /* change gradient of footer*/
    background: linear-gradient(110deg, #b9dbdf 75%, #189AB4 60%);
}
